.cart-item {
    > .cart-item-thumbnail {
        width: 200px;
        height: 200px;
        text-align: center;

        > img {
            width: 100%;
            max-height: 100%;
        }
    }
}