.product-image {
    background: linear-gradient(to top, #227e22, #a8fb3c);
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease-in-out;
  
    > img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  .product-details {
    padding: 24px 32px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease-in-out;
  
    .product-color {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50px;
      border: 4px solid #fff;
      box-shadow: inset 0 0 2px grey;
      position: relative;
      cursor: pointer;
  
      &:before {
        width: 24px;
        height: 24px;
        content: ' ';
        position: absolute;
        top: -4px;
        left: -4px;
        border-radius: 50%;
      }
  
      &.color-red {
        background: #e74c3c;
      }
  
      &.color-black {
        background: black;
      }
    }
  
    .active-red .color-red:before {
      border: 1px solid #c0392b;
    }
  
    .active-black .color-black:before {
      border: 1px solid #2c3e50;
    }
  }
  
  .product {
    width: 500px;
    height: 240px;
    margin: 0 auto 50px;
    display: flex;
    overflow: hidden;
    box-shadow: -20px 10px 30px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: #333333;
    border-radius: 10px;
    &:hover {
      text-decoration: none;
      color: #333333;
    }

    &.is-zoomed {
      .product-image {
        width: 100%;
      }
      .product-details {
        width: 0;
        padding: 0;
      }
    }
  }
  
  .item-details-page {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }