<main class="container mt-5">
    <h1>Shopping cart</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <LinkTo @route="index">
                Home
            </LinkTo>
        </li>
        <li class="breadcrumb-item">Shopping Cart</li>
    </ol>

    {{#each this.cart.itemList as |item|}}
    <div class="d-flex align-items-center cart-item">
        <div class="cart-item-thumbnail">
            <img src={{item.image}} alt="">
        </div>
        <div class="ml-3">
            <h4>{{item.name}}</h4>
            <i class="font-weight-bold">{{currency item.price}}</i>
        </div>
        <input type="number" class="ml-auto" value={{item.count}} {{on "input" (fn this.updateItemCount item)}}>
    </div>
    {{/each}}

    <section class="w-50 ml-auto text-right mb-5">
        <div class="row">
            <span class="col">Sub Total</span>
            <span class="col">{{currency this.subtotal sign="$"}}</span>
        </div>
        <div class="row">
            <span class="col">Tax</span>
            <span class="col">{{currency this.tax}}</span>
        </div>
        <div class="row">
            <span class="col">Total</span>
            <span class="col">{{currency this.total}}</span>
        </div>
    </section>

    <button type="button" class="btn btn-success float-right">
        Checkout
    </button>
</main>