<GeneralContainer>
    <div class="product item-details-page {{if this.isZoomed "is-zoomed"}}">
        <Product::Image @src={{this.productImage}} @toggleZoom={{this.toggleZoom}}/>
        <Product::Details @isDetails={{true}} @name={{this.model.name}} @price={{this.model.price}} @colors={{this.model.colors}} @color={{this.color}} @onChangeColor={{this.onChangeColor}}/>
    </div>
    <h5 class="mt-5">Features</h5>
    <ul>
        {{#each this.model.features as |feature|}}
        <li>{{feature}}</li>
        {{/each}}
    </ul>
</GeneralContainer>